/** Basic CSS Styling **/
html {
	background: url("../img/silver_scales.png") repeat scroll 0 0 transparent;
}
body {
	font-family: 'Josefin Slab', serif;
	font-size: 18px;
}
h1 {
	font-size: 48px;
}
a {
	color: #777777;
}
a:hover {
	background: #BFBFBF;
}
#container {
	position: absolute;
	top: 50%;
	left: 50%;
	background: #FFFFFF;
	height: 450px;
	width: 750px;
	margin-top: -225px;
	margin-left: -375px;
	box-shadow: 0 0 10px #888;
	text-align: center;
}
#content {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 440px;
	width: 600px;
	margin-top: -220px;
	margin-left: -300px;
	text-align: center;
}
